

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="fileInput" multiple (change)="selectFiles($event)" />
          <label class="custom-file-label" for="fileInput">Choose file(s)</label>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="uploadFiles()">
        Upload
      </button>
    </div>
  </div>


  @if (message.length) {
   
    <div class="flex items-center bg-indigo-600 text-white text-sm font-bold px-3 py-2 mt-3 rounded-md" role="alert">
     
      @for(msg of message; track i; let i = $index){

        <p>{{ msg }}</p>
       
      }
    </div>
  }

 

  <div class="card mt-3">
    <div class="card-header">List of Files</div>
    <ul class="list-group list-group-flush">
      @for (file of fileInfos | async; track file.name) {
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
      </li>
      }
    </ul>
  </div>
</div>
